*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    
}

#header{
    width: 100%;
    background-color: rgb(50, 50, 50);
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1em;

    font-weight: bold;

    position: fixed;
    z-index: 1;
    
}

#header-img{

    width: 100%;
    max-width: 48px;
    align-content: start;
    justify-self: center;
    
}

#home{
    display: flex;
    align-items: center;
    margin: 0.4rem;
    font-size: 1.4em;
}

#title{
    font-size: 1.2rem;
}

.list{
    display: flex;
}

.list li{
    list-style: none;
    margin: 0.5em;
}

.nav-link{
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.list li .nav-link:hover{
    color: black;
    padding: 0.2em 0.4em;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

section{
    
    padding: 73px 0px 0px 0px;
    
}
.viden{
    width: 100%;
    max-width: 800px;
    margin: 2.5rem auto;
}
.vidcontainer{
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;

}

#video{
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#div-form{
    margin-top: 2.5rem;
}
#form{
    margin: auto;
    display: flex;
    flex-direction: column;
}

#form label,
#form input,
#form #submit{
    margin: 4px auto;
}

#form label{
    
    font-weight: bold;
    font-size: 1.4em;
}

#email{
    border: 2px solid black;
    padding: 8px;
    width: 256px;
    text-align: center;
}

#submit{
    border: 0;
    padding: 6px 18px;
    background-color: rgb(50, 50, 50);
    font-weight: bold;
    color: white;
}
#submit:hover{
    background-color: rgb(180, 180, 180);
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    body{
        font-size: 14px;
    }
    #header{
        padding: 0.4em;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .nav-bar{
        width: 100%;
        margin: auto;
    }
    section{
        
        padding: 6em 0px 0px 0px;
        
        
    }
}